<?xml version="1.0"?>
<launch>

  <!-- Run Map Server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find former_navigation)/maps/building.yaml"/>
  
  <!-- Run AMCL -->
  <include file="$(find former_navigation)/launch/amcl.launch"/>

  <!-- Run Move Base -->
  <include file="$(find former_navigation)/launch/move_base.launch"/>

</launch>